<div class="contentcurr">
<div>
<input id="fromAmmount" name="fromAmmount"  [(ngModel)]="moneyexchange.fromAmmount"
			[maxlength]="8" [placeholder]="moneyexchange.fromCurrency"
			required #fromAmmount="ngModel"  class="form-control"  class="inputexchange" />
			&nbsp;
			&nbsp;
			<input [(ngModel)]="moneyexchange.toAmmount"
			[placeholder]="moneyexchange.toCurrency" [readOnly]="true" class="inputexchange" />
<div align="center" >
<div *ngIf="fromAmmount.invalid && (fromAmmount.dirty || fromAmmount.touched)" class="errordiv">the from ammount value is required</div>
<div *ngIf="(moneyexchange.errors!=null) && fromAmmount.touched" class="errordiv">{{moneyexchange.errors[0]}}</div>
</div>
<div align="center">
 <button class="buttonexch" (click)="calculate()">{{buttonlabel}}</button>
</div>
</div>
